.home{
    padding: 0 2rem;
}
.home .container{
    max-width: 1200px;
    margin: 0 auto;
}
.home h1{
    text-align: center;
}
.home_wrapper{
    display: flex;
    justify-content: center;
}
.home_wrapper span{
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    width: initial;
    height: initial;
    background: none;
    opacity: 1;
    border: 0px;
    margin: 0px;
    padding: 0px;
    position: relative;
    max-width: 100%;
}
.home_wrapper img{
    display: block;
    max-width: 100%;
    width: initial;
    height: initial;
    background: none;
    opacity: 1;
    border: 0px;
    margin: 0px;
    padding: 0px;
}